In [2]:
import pandas as pd
import numpy as np

In [19]:
df1 = pd.read_csv('output/sp_bigru_relu_ft100_d1_atten_global_amsgrad_bag_rmnum_blend2_sp_bigru_ft100atten_all_sp_bigru_relu_ft100_atten_global_nadam_bag_rmnum_sw_sp_bigru_relu_ft100_d1_atten_global_amsgrad_rmnum_extra.csv')
df1.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.993449,0.437197,0.976766,0.138819,0.934792,0.397573
1,0000247867823ef7,0.000343,0.000111,0.000196,0.000015,0.000194,0.000076
2,00013b17ad220c46,0.002090,0.000224,0.000635,0.000041,0.000395,0.000128
3,00017563c3f7919a,0.000274,0.000034,0.000099,0.000024,0.000117,0.000020
4,00017695ad8997eb,0.002703,0.000051,0.000313,0.000044,0.000390,0.000056

In [20]:
df2 = pd.read_csv('output/pooled_gru.csv')
df2.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.995247,0.711791,0.986060,0.035674,0.978145,0.692189
1,0000247867823ef7,0.000579,0.000059,0.000335,0.000003,0.000237,0.000020
2,00013b17ad220c46,0.000611,0.000135,0.000498,0.000015,0.000453,0.000035
3,00017563c3f7919a,0.001220,0.000047,0.000654,0.000035,0.000834,0.000022
4,00017695ad8997eb,0.001086,0.000064,0.000627,0.000037,0.000248,0.000018

In [21]:
df3 = df1
col = df3.columns[1:]
df3[col]= df1[col] *0.85 +   df2[col] *0.15
df3.head()

,id,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,00001cee341fdb12,0.993719,0.478386,0.978161,0.123347,0.941295,0.441766
1,0000247867823ef7,0.000378,0.000103,0.000217,0.000013,0.000201,0.000067
2,00013b17ad220c46,0.001868,0.000211,0.000614,0.000037,0.000404,0.000114
3,00017563c3f7919a,0.000416,0.000036,0.000182,0.000026,0.000224,0.000020
4,00017695ad8997eb,0.002460,0.000053,0.000360,0.000043,0.000369,0.000050

In [22]:
df3.to_csv('output/sp_bigru_relu_ft100_d1_atten_global_amsgrad_bag_rmnum_blend2_sp_bigru_ft100atten_all_sp_bigru_relu_ft100_atten_global_nadam_bag_rmnum_sw_sp_bigru_relu_ft100_d1_atten_global_amsgrad_rmnum_extra_pooled_gru.csv', index=None)